.nav {
  height: 80px;
  background-color: gray;
  padding-top: 20px;
  color: white;
  font-size: 23px;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: rgb(212, 209, 209);
  text-decoration: underline;
}

.nav-link {
  font-family: "Barlow Semi Condensed", sans-serif;
}